header {
  background: #141d32;
  width: auto; }
  header .header {
    display: block;
    color: #fff;
    padding: 15px 0; }
    header .header img.logo {
      display: inline-block;
      width: 50px;
      height: auto;
      margin: 0 5vw 0 1vw; }
    header .header h2 {
      display: inline-block;
      margin: 0;
      padding: 0; }
    header .header span.logout {
      float: right;
      margin: 20px 100px 0 0; }

.menu-icon {
  position: fixed;
  right: 50px;
  top: 50px;
  z-index: 99999;
  transform: scale(0.6);
  padding: 20px;
  background: #fff;
  border-radius: 5px; }
  .menu-icon:before {
    content: '';
    display: none;
    height: 80px;
    width: 80px;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    position: absolute;
    top: -5px;
    background: rgba(255, 255, 255, 0.3);
    left: -5px;
    z-index: 999997;
    border-radius: 50%; }
  .menu-icon .wrapper-menu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out; }
    .menu-icon .wrapper-menu.open {
      transform: rotate(-45deg); }
      .menu-icon .wrapper-menu.open .line-menu.start {
        transform: rotate(-90deg) translateX(3px); }
      .menu-icon .wrapper-menu.open .line-menu.end {
        transform: rotate(-90deg) translateX(-3px); }
    .menu-icon .wrapper-menu .line-menu {
      background-color: #000;
      border-radius: 5px;
      width: 100%;
      height: 6px; }
      .menu-icon .wrapper-menu .line-menu.half {
        width: 50%; }
      .menu-icon .wrapper-menu .line-menu.start {
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: right; }
      .menu-icon .wrapper-menu .line-menu.end {
        align-self: flex-end;
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: left; }

section.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  flex-wrap: wrap;
  z-index: 99998; }
  section.menu.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  section.menu.cols .column {
    width: 25vw;
    margin: 1px 0 0 1px;
    cursor: pointer;
    flex-grow: 1; }
    section.menu.cols .column .contain {
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-perspective: 1000px;
      perspective: 1000px; }
  section.menu .front,
  section.menu .back {
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 50vh;
    height: auto;
    border-radius: 5px;
    color: #fff;
    font-size: 1.5rem; }
  section.menu .back {
    background: #cedce7;
    background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: linear-gradient(45deg, #cedce7 0%, #596a72 100%); }
  section.menu .front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px; }
  section.menu .contain:hover .front,
  section.menu .contain:hover .back {
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition-delay: 600ms; }
  section.menu .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  section.menu .inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2; }
  section.menu .contain .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  section.menu .contain .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  section.menu .contain:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  section.menu .contain:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  section.menu .front .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative; }
  section.menu .front .inner p:after {
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem; }
  section.menu .front .inner span {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat';
    font-weight: 300; }
  @media screen and (max-width: 768px) {
    section.menu .column {
      width: calc(50vw - 2px); } }
  @media screen and (max-width: 32rem) {
    section.menu .column {
      width: 100%;
      margin: 0 0 2rem 0; } }
